<launch>

    <arg name="visu" default="true"/>
    <arg name="simu" default="true"/>
    <arg name="executor" default="dummy"/>
    <arg name="bag_repair" default="false"/>
    <arg name="vnet" default="false"/>
    
    <param name="hidden/plan"        type="str" textfile="$(find metal)/data/simple.plan" />
    <param name="hidden/pddl/domain" type="str" textfile="$(find metal)/data/simple-domain.pddl" />
    <param name="hidden/pddl/prb"    type="str" textfile="$(find metal)/data/simple-prb.pddl" />
    <param name="hidden/pddl/helper" type="str" textfile="$(find metal)/data/simple-prb-helper.pddl" />


    <node name="visu" pkg="metal" type="onlineTimeline.py" ns="visu"  if="$(arg visu)" />

    <node name="r1" pkg="metal" type="hidden-ros.py" ns="r1" args="--executor=$(arg executor) --agentName=r1 --waitSignal" if="$(arg simu)" >
        <remap from="hidden/repair/in" to="/hidden/repair" unless="$(arg vnet)"/>
        <remap from="hidden/repair/out" to="/hidden/repair" unless="$(arg vnet)"/>
        <remap from="hidden/mastnUpdate/in" to="/hidden/mastnUpdate" unless="$(arg vnet)"/>
        <remap from="hidden/mastnUpdate/out" to="/hidden/mastnUpdate" unless="$(arg vnet)"/>
    </node>

    <node name="r2" pkg="metal" type="hidden-ros.py" ns="r2" args="--executor=$(arg executor) --agentName=r2 --waitSignal" if="$(arg simu)" >
        <remap from="hidden/repair/in" to="/hidden/repair" unless="$(arg vnet)"/>
        <remap from="hidden/repair/out" to="/hidden/repair" unless="$(arg vnet)"/>
        <remap from="hidden/mastnUpdate/in" to="/hidden/mastnUpdate" unless="$(arg vnet)"/>
        <remap from="hidden/mastnUpdate/out" to="/hidden/mastnUpdate" unless="$(arg vnet)"/>
    </node>

    <node name="bag" pkg="rosbag" type="record" args="/hidden/repair -o hidden_repair" if="$(arg bag_repair)" />
</launch>
